# IDE folders
/.idea

# library folders
**/vendor
/backend/composer.phar
/backend/node_modules
/backend/bower_components
/backend/public/sitemap*
/frontend/node_modules

# build folders
/frontend/public
/backend/public/images/catalog/
/backend/public/images/tmp/

# enviroment
/backend/.env
/backend/composer.lock

# logs
*.log
