# IDE folders
**/.idea

# library folders
**/vendor
**/composer.phar
**/node_modules
/backend/public/sitemap*
/backups

# build folders
/frontend/public
/backend/public/images/catalog/
/backend/public/images/tmp/

# enviroment
**/.env

# logs
*.log

# dump
/anycomp.sql.2017-09-21_22:44.gz
