@import "vars"

@mixin respond-to($media)
  @if $media == mobile
    @media only screen and (max-width: $mobile + 1px)
      @content
  @else if $media == tablet
    @media only screen and (max-width: $tablet + 1px)
      @content
  @else if $media == laptop
    @media only screen and (max-width: $laptop + 1px)
      @content
  @else if $media == desktop
    @media only screen and (max-width: $desktop + 1px)
      @content
  @else if $media == wide
    @media only screen and (max-width: $wide + 1px)
      @content

@mixin bgi($image_path, $image_size)
  display: block
  background-image: url($image_path)
  background-repeat: no-repeat
  background-size: $image_size
  background-position: center
  width: $image_size
  height: $image_size
